<% provide :title, t("order.your") %>
<h1><%= t "order.your"%>(<%=@orders.count %>)</h1>
<div class="container">
  <ul class="list-group">
    <%= render @orders %>
  </ul>
  <%= will_paginate @orders%>
</div>
